/* ------- Font Import --------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ------- Global CSS --------- */

*
{
    padding: 0;
    margin: 0;
    user-select: none;
}

/* Variables */
:root
{
    --always-white : #ffffff;
    --background-color : #212121;

    --pri-color1 : #130047;
    --pri-color2 : #ED7D8F;
    --pri-mid-gradient : #5C2A5F;
    
    --sec-color1: #EF7895;
    --sec-color2: #E4A279;

    --pri-gradient: linear-gradient(var(--pri-color1), var(--pri-color2));
    --pri-half-gradient : linear-gradient(var(--pri-color1), var(--pri-mid-gradient));
    --sec-gradient: linear-gradient(var(--sec-color1), var(--sec-color2));
}

/* Utility */
.primary-btn{
    background: var(--sec-gradient);
    padding: 8px 22px;
    color: var(--pri-color1);
    border-radius: 5px;
    transition: all 0.3s;
}

.primary-btn:hover
{
    color: white;
    border-radius: 12px;
    border-bottom: none;
}


/* Tags */
ul
{
    list-style: none;
}



body
{
    font-family: 'Poppins', sans-serif;
    height: 500vh;
}


h1
{
    font-size: 2.3rem;
}

/* ----------- Navbar ------------ */

.navbar
{
    position: fixed;
    top: 0;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    padding: 5px 10px;
}


.navbar #left{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 15px;
}


.navbar #left #logo a
{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.navbar #left #logo #brand
{
    width: 70px;
    height: 70px;
}

.navbar #left #brand-text{
    padding-left: 10px;
    height: 30px;
}


.navbar #right #tabs ul
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
    
}

.navbar #right ul li{
    margin: 0px 22px;
}

.navbar #right ul a{
    color: white;
    text-decoration: none;
    
}

.navbar #right ul a:hover
{
    border-bottom: 1px solid var(--sec-color1);
}

.navbar #right .primary-btn{
    color: var(--pri-color1);
    border: none;
}

.theme-switcher
{
    background: var(--sec-gradient);
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 700;
    border: none;
    border-radius: 50px;
    margin: 0px 10px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    display: none;
}


.fa-moon
{
    color: var(--pri-color1);
    font-size: 15px;
    transition: all 0.2s;
}

.fa-moon:hover
{
    color: aliceblue;
}



.fa-sun
{
    color: var(--pri-color1);
    font-size: 15px;
    transition: all 0.2s;
}

.fa-sun:hover
{
    color: aliceblue;
}

.switch
{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input
{
    display: none;
}
.slider
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--headingTextColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 34px;
    border: 1px solid var(--secondaryColor1);
    transition: .4s;
}
.slider:before
{
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    left: 2px;
    bottom: 2px;
    background: var(--secondaryColor2);
    border-radius: 50%;
    transition: .4s;
}
input:checked + .slider
{
    background: var(--darkBackgroundColor);
    border: 1px solid var(--lightBackgroundColor);
}
input:checked + .slider:before
{
    transform: translateX(26px);
}
.dark-mode
{
    background: var(--background-color);
    color: var(--lightBackgroundColor);
}
::selection
{
    background: var(--darkHeadingTextColor);
    color: var(--lightBackgroundColor);
}



/* ----------- Hero Section ------------ */

.hero-section
{
    background: var(--pri-half-gradient);
    width: 100vw;
    height: 13em;
    box-shadow: 2px 2px 0px var(--pri-mid-gradient);
}


.hero-main
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    
}
.hero-main
{
    color: var(--always-white);
}

#hero-logo
{
    width: 500px;
}





/* ------------- Intro Section ------------ */

.intro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.intro-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 16em;
}

.intro-card img{
    height: 10em;
}

.intro-card-text
{
    margin: 15px 0px;
    text-align: center;
}

.intro-card-paragraph
{
    text-align: left;
}